.wenexus__resource_selector_list.hide-select-all .Polaris-SelectAllActions__PaginatedSelectAll {
  display: none;
}



/* custom css and override polaris components */
/* ----check box style */
.Polaris-Checkbox__Backdrop {
  display: none !important;
}

.Polaris-Checkbox__Input {
  opacity: 1 !important;
}

/* text input */
.Polaris-TextField__Input {
  height: 50px;
  font-size: 14px;
}

.Polaris-Text--bodyMd {
  font-size: 14px;
}

/* select option */
.Polaris-Select {
  height: 50px;
  font-size: 14px;
}

.Polaris-Select__Content {
  font-size: inherit;
  height: inherit;
  padding: 0px 10px;
}

.Polaris-Select__Input>option {
  font-size: 14px;
}

/* text input margin left none */
.wenexus-input-text .Polaris-Connected__Item.Polaris-Connected__Item--primary {
  margin-left: 0px;

}

.wenexus-color-picker .Polaris-Connected__Item.Polaris-Connected__Item--primary {
  margin-left: 10px;
}

/* color picker color box */
.custom-size {
  height: 50px;
  width: 50px;
}

/* card heading */
.Polaris-Text--semibold {
  font-size: 16px;
}

.Polaris-Text--bodySm.Polaris-Text--subdued {
  font-size: 14px;
}

.wenexus-radio-label {
  font-size: 14px;
}

.Polaris-Box {
  font-size: 14px;
}

.Polaris-Text--root.Polaris-Text--bodySm.Polaris-Text--medium {
  font-size: 14px;
}

/* hide header of index table */
.hide-header thead {
  display: none !important;
  margin-top: 10px;
}

.hide-header .Polaris-IndexTable__StickyTableHeadings {
  display: none !important;
  margin-top: 10px;
}