.wenexus__resource_selector_list.hide-select-all .Polaris-SelectAllActions__PaginatedSelectAll {
  display: none;
}

/* dashboard left and top margin none */
.dashboard .Polaris-Layout__Section {
  margin-top: 0px;
  margin-left: 0px;
}

/* custom css and override polaris components */
/* ----check box style */
.Polaris-Checkbox__Backdrop {
  display: none !important;
}

.Polaris-Checkbox__Input {
  opacity: 1 !important;
}

/* text input */
.Polaris-TextField__Input {
  height: 50px;
  font-size: 14px;
}

.Polaris-Text--bodyMd {
  font-size: 14px;
}

/* select option */
.Polaris-Select {
  height: 50px;
  font-size: 14px;
}

.Polaris-Select__Content {
  font-size: inherit;
  height: inherit;
  padding: 0px 10px;
}

.Polaris-Select__Input>option {
  font-size: 14px;
}

/* text input margin left none */
.wenexus-input-text .Polaris-Connected__Item.Polaris-Connected__Item--primary {
  margin-left: 0px;

}

.wenexus-color-picker .Polaris-Connected__Item.Polaris-Connected__Item--primary {
  margin-left: 10px;
}

/* color picker color box */
.custom-size {
  height: 50px;
  width: 50px;
}

/* card heading */
.Polaris-Text--semibold {
  font-size: 16px;
}

.Polaris-Text--bodySm.Polaris-Text--subdued {
  font-size: 14px;
}

.wenexus-radio-label {
  font-size: 14px;
}

.Polaris-Box {
  font-size: 14px;
}

.Polaris-Text--root.Polaris-Text--bodySm.Polaris-Text--medium {
  font-size: 14px;
}

/* hide header of index table */
.hide-header thead {
  display: none !important;
  margin-top: 10px;
}

.hide-header .Polaris-IndexTable__StickyTableHeadings {
  display: none !important;
  margin-top: 10px;
}

#wenexus-nav-link {
  color: black;
}

.wenexus-tab {
  position: sticky;
  top: 20;
}

.bg-vector-img {
  color: white;
  background-color: #61cb69;
  background-size: cover;
  background-position: center;
  height: 100%;

}

/* guideline-icon size */

.guideline-icon .Polaris-Icon {
  height: 25px;
  width: 25px;
}

/* tiny */
.tox-statusbar__branding {
  display: none !important;
}

.Polaris-Box:has(.fixed-cart-height) {
  height: 100% !important;
}

.filter-width>div {
  width: 100% !important;
}