<head>
  <link href='{{ 'package-protection-claim.css' | asset_url }}' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='claim-liquid'></div>
</body>

<script>
  window.wenexus_shop_domain = '{{ shop.permanent_domain }}';
</script>


<script src='{{ 'package-protection-claim.js' | asset_url }}' defer></script>

{% schema %}
{
  "name": "Claim Page",
  "target": "section"
}
{% endschema %}
